## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there dad!"
x = s.split(" ")

In [4]:
print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
print("The diameter of the {} is {} kilometers".format(planet, diameter))

The diameter of the Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [25]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [1]:
print("List is mutable and Tuple is immutable.")

List is mutable and Tuple is immutable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [1]:
test_str = "user@domain.com"
res = test_str[test_str.index('@') + 1 : ]

In [2]:
print(res)

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [14]:
def fun(txt):
  dog=""
  for i in txt:
    if i!=" ":
      dog+=i
    else:
      if "dog"==dog.lower():
        return True
      dog=""
  return False

In [15]:
fun("Dog is a loyal animal.")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [3]:
s = "Dog is a loyal animal. Dog is also raised as a pet animal. So don't fret by seeing the dog."
split = s.split(" ")
k = 0
for i in split:
    if("dog" in i.lower()):
        k = k + 1

In [4]:
print(k)

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [8]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [29]:
caught_speeding(91,0)

'Big Ticket'

In [30]:
caught_speeding(84,1)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [12]:
emp_list = [23000, 45000, 65000, 50000, 70000]
sum = 0;
for i in emp_list:
  sum = sum + i;
print(sum)

253000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [16]:
dict1 = {}
dict2 = {}
dict1['Empid']= 1
dict1['Empname']= "Shiva"
dict1['Basicpay']= "20000"
dict2['DeptName']= "Information Technology"
dict2['DeptID']= 5
dict1.update(dict2)
print(dict1)

{'Empid': 1, 'Empname': 'Shiva', 'Basicpay': '20000', 'DeptName': 'Information Technology', 'DeptID': 5}